<h1>Edit Your Cat!</h1>


<form action = "<%= cat_url(@cat) %>" method = "POST">
<input type ="hidden" name ="_method" value ="PATCH" >

<label for = "name" >Name</label>
<input type= "text" id = "name" name = "cat[name]" value = "<%=@cat.name%>" > 


<label for = "sex">Sex</label>
<% if @cat.sex == "M" %>
<input type = "radio"  id = "M" checked name = "cat[sex]" value = "M">
<label for = "M">Male</label>

<input type = "radio" id = "F" name = "cat[sex]" value = "F">
<label for = "F">Female</label>

<% else %> 

<input type = "radio" id = "M" name = "cat[sex]" value = "M">
<label for = "M">Male</label>

<input type = "radio" id = "F" checked name = "cat[sex]" value = "F">
<label for = "F">Female</label>

<% end %>

<label for = "color">Color</label>
<select name="cat[color]" id="color">

<option selected disabled >Select a color</option>
 <%= Cat::COLORS.each do |color| %>
    <% if @cat.color == color %>
    <option value = "<%=color%>" selected > <%=color%> </option>
    <% else %>
    <option value = "<%=color%>" > <%=color%> </option>
    <% end %>
<%end%>
</select>

<label for "birth_date">Birth-date</label>

<input type = "date" id = "birth_date" name = cat[birth_date] value = "<%=@cat.birth_date%>"> 

<label for "description">Description</label>
<input type = "text-area" id = "description" name = cat[description] value = "<%=@cat.description%>">

<button>Edit Your Cat!</button>

</form>