<h1>Make a New Cat!</h1>


<form action = "<%= cats_url %>" method = "POST">

<label for = "name" >Name</label>
<input type= "text" id = "name" name = "cat[name]" value = "<%=@cat.name%>" > 


<label for = "sex">Sex</label>
<input type = "radio" id = "M" name = "cat[sex]" value = "M">
<label for = "M">Male</label>
<input type = "radio" id = "F" name = "cat[sex]" value = "F">
<label for = "F">Female</label>

<label for = "color">Color</label>

<select name="cat[color]" id="color">
<option selected disabled >Select a color</option>
 <%= Cat::COLORS.each do |color| %>
    <option value = "<%=color%>" > <%=color%> </option>
<%end%>
</select>

<label for "birth_date">Birth-date</label>

<input type = "date" id = "birth_date" name = cat[birth_date] value = "<%=@cat.birth_date%>"> 

<label for "description">Description</label>
<input type = "text-area" id = "description" name = cat[description] value = "<%=@cat.description%>">

<button>Submit new cat!</button>

</form>