 
<h2><%=@cat.name %> </h2>

<ul> 
<li>Color: <%=@cat.color  %> </li>
<li>Age: <%=@cat.age  %> </li>
<li>Birth-date: <%= @cat.birth_date%> </li>
<li>Sex: <%= @cat.sex  %> </li>
<li>Description: <%= @cat.description  %>  </li>
</ul> 

<table>
    <thead>
        <tr>
            <th colspan="2"><%= @cat.name %></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Color</td>
            <td><%= @cat.color  %></td>
        </tr>
         <tr>
            <td>Age</td>
            <td><%= @cat.age  %> </td>
        </tr>
         <tr>
            <td>Birth-date</td>
            <td><%= @cat.birth_date%> </td>
        </tr>
         <tr>
            <td>Sex</td>
            <td><%= @cat.sex %></td>
        </tr>
         <tr>
            <td>Description</td>
            <td><%= @cat.description  %> </td>
        </tr>
    </tbody>
</table>
